<div class="container-fluid">
  <div class="row">
    <div>
        Search: <input type="text" class="form-control" ng-model="query">
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in constraintList.flattened | filter: constraintFilter" ng-class="row.css">
            <td>{{row.name}}</td>
            <td>{{row.description}}</td>
            <td>
                <a ng-if="row.editLink" href="{{row.editLink}}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="#/constraintGroups/new">Create new group</a>
    <br/>
    <a href="#/constraints/new">Create new constraint</a>
  </div>
</div>
