<div class="container-fluid">
    <div class="row">
        <div>
            Search: <input type="text" class="form-control" ng-model="query">
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="model in models | filter: {name: query} | orderBy: orderProp">
                    <td>{{model.name}}</td>
                    <td>{{model.description}}</td>
                    <td>
                        <a href="#/models/{{model.id}}/compose">Edit model</a>
                    </td>
                    <td>
                        <a href="#/models/{{model.id}}/setData">Edit set data</a>
                    </td>
                    <td>
                        <a href="#/models/{{model.id}}/scenarios">Scenarios</a>
                    </td>
                    <td>
                        <a ng-click="clone(model)" >Clone model</a>
                    </td>
                    <td>
                        <a ng-click="delete(model)" confirm="Are you sure you want to delete the model {{model.name}}? This will remove all of its scenarios, associated data and results">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <a href="#/models/new/compose">Create new model</a>
    </div>
</div>

<span us-spinner spinner-on="loading"></span>
