<div class="container-fluid">
    <div class="row">
        <form name="detailsForm" class="form-horizontal" id="parameterDataForm">
            <h3>Data entry for parameter {{data.parameter.name}}</h3>

            <div class="form-group">
                <label for="defaultValue" class="col-sm-2 control-label">Default value</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="defaultValue" ng-model="data.defaultValue" required>
                </div>
            </div>
            <div class="form-group" ng-if="data.dimensionSelectors.length > 0">
                <label for="dimensionSelectors" class="col-sm-2 control-label">Fix dimensions</label>
                <div class="col-sm-4">
                    <div ng-repeat="selector in data.dimensionSelectors">
                        <div class="row">
                            <div class="col-sm-6">
                                <select class="form-control" ng-model="selector.selected" ng-change="data.updateDimensions(selector.selectorIndex)">
                                    <option value="">---Fix dimension---</option>
                                    <option ng-repeat="dimension in selector.dimensions" value="{{dimension.id}}">{{dimension.name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" ng-if="selector.selected" ng-model="selector.dimensionValue" ng-change="data.changeDimensionValue()">
                                    <option ng-repeat="value in selector.selectedDimension.values" value="{{value}}">{{value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="data.spreadsheetVisible">
                <div ng-if="data.dimensions.length > 1">
                    <button class="btn btn-default" ng-click="data.switchAxes()">Switch axes</button>
                </div>
                <hot-table settings="data.spreadsheetSettings"
                           datarows="data.spreadsheetItems">
                </hot-table>
            </div>
            <br/>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default" ng-click="save()">Save</button>
                    <a href="#/models/{{data.modelId}}/{{data.scenarioId}}/data" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
