<div class="container-fluid">
    <div>
        <h4>Entering data for model</h4>
        <h3>{{model.name}}</h3>
    </div>
    <div class="row">
        <h4>Sets</h4>
        <div>
            Search: <input type="text" class="form-control" ng-model="setQuery">
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="set in model.sets | filter: {selected: true, data: {name: setQuery}} | orderBy: setOrderProp">
                <td>{{set.data.name}}</td>
                <td>{{set.data.description}}</td>
                <td>
                    <a href="#/models/{{model.id}}/setData/{{set.data.id}}">Enter data</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <a href="#/models">Back to model list</a>
    </div>
</div>

<span us-spinner spinner-on="loading"></span>