<h3>Data entry for set {{data.setName}}</h3>

<table>
    <thead>
    <tr>
        <th>Value</th>
        <th>Name</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="value in data.values">
        <td>
            <input class="form-control" type="{{data.numeric ? 'number' : 'text'}}" ng-model="value.value"/>
        </td>
        <td class="set-data-name">
            <input class="form-control" type="text" ng-model="value.name" />
        </td>
        <td>
            <button type="button" class="btn btn-default" ng-click="data.removeValue(value)">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <button type="button" class="btn btn-default" ng-click="data.addValue()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>

<div class="alert alert-danger" role="alert" ng-if="invalidValuesNotUnique">
    Some values are not unique
</div>

<div>
    <button class="btn btn-default" ng-click="save()">Save</button>
    <a href="#/models/{{data.modelId}}/{{data.scenarioId}}/data" class="btn btn-default">Cancel</a>
</div>