.view-container {
    margin-left: 10px;
    margin-right: 10px;
}

.equation-composite {
    border-style: dashed;
    border-color: lightsteelblue;
    border-width: 1px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    background: white;
    display: inline-block;
    margin: 5px 3px 5px 3px;
}

.equation-composite-hovered {
    border-color: darkslategray;
    background: #e7e7e7;
}

.equation-object {
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background: white;
    display: inline-block;
    margin: 5px 3px 5px 3px;
    padding: 3px;
}

.equation-object:hover {
    border-color: darkslategray;
    cursor: pointer;
}

.equation-operator {
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background: white;
    display: inline-block;
    margin: 5px 3px 5px 3px;
    padding: 3px;
}

.equation-operator-hovered {
    border-color: darkslategray;
    cursor: pointer;
}

div.inline {
    display: inline-block;
}

a[ng-click]{
    cursor: pointer;
}

label.selection-title {
    font-weight: bold;
}

.enumerators-constraint {
    border-top: solid 1px darkgray;
}

.half-width {
    width: 50%;
    float: left;
}

tbody tr.constraint-group-row td {
    background-color: #d9d9d9;
    border-top: 1px solid black;
}

.constraint-row {
    background-color: white;
}

span.bold {
    font-weight: bold;
}

.tree-grid td:nth-child(1) {
    min-width: 250px;
}

td.set-data-name {
    min-width: 350px;
}

.nvd3-svg {
    padding-left: 10px;
}